{
    "selenium": [
        {
            "domain": ".yandex.ru",
            "name": "yandexuid",
            "value": "your_yandex_uid_here"
        }
    ],
    "requests": {
        "yandexuid": "your_yandex_uid_here"
    }
}