{% extends "app/layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>MMC.co</h1>
    <p class="lead">Django is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://www.djangoproject.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Не забудь сделать все из readme.html. Еще у визуалки есть косяк. Если питон ругается на кодировку,
            ищешь сам файл с русским языком,
            Файл>сохранить как>выделяешь тот же файл в проводнике>у кнопки сохранить треугольничек вниз>
            сохранить с кодировкой > юникод utf8

            Окружение env  в папке проекта

            Суперпользователь root с паролем fewggi39S@
            менять можно по инструкции с https://codeease.net/programming/python/how-to-change-django-project-superuser-password
        </p>
        <p><a class="btn btn-default" href="https://djangobook.com/django-tutorials/">Learn more &raquo;</a></p>
    </div>
    
</div>

{% endblock %}
